/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                    JÁ VEIO COM ARQUIVO SINGLEPAGE

Sumario:
* INDEX
* 
---------------------------------------------------------------------------------------------------------------------------------------------*/
header{
    width:20%;
    background:#fff;
    position: absolute;
    left:0;
    top:5%;
    z-index: 5;
}
header h1{
    text-align: center;
}
nav ul{
    list-style:none;
    margin:5px 0;
    padding:0;
}
nav a{
    display:block;
    border:1px solid #e5e5e5;
    border-left:0;
    border-right:0;
    margin:3px 0;
    color:#333;
    padding:5px 0;
    text-decoration: none;
} 
.box{
    position:absolute;
    top:5%;
    right:10px;
    width:100%;
    height:100%;
    background:#fff;
}
.box h2{
    font-size:20px;
    padding:10px;
}
.box p{
    font-size:12px;
    padding:10px;
}
.content{
    min-width: 100%;
    height: 98%;
    position: absolute;
    margin-left:-101%;
    -webkit-transition: margin-left .8s ease-in-out;
    -moz-transition: margin-left .8s ease-in-out;
    -o-transition: margin-left .8s ease-in-out;
    transition: margin-left .8s ease-in-out;
}
.content:target{
    margin-left:0;
}
#home{
    margin-left:0;
}

#home:target ~ header #link-home a,
#company:target ~ header #link-company a,
#service:target ~ header #link-service a,
#contact:target ~ header #link-contact a{
    background: #333;
    color: #fff;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                                INDEX
---------------------------------------------------------------------------------------------------------------------------------------------*/
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #037e8e !important;
}
.bodyNOTIFICAÇÃO {
    background:rgb(216, 215, 215);
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.form_containerINDEX {
    margin-top: 380px;
}
.login_btnINDEX {
    width: 100%;
    background: #2CD7D1 !important;
    color: white !important;
    margin-top: -50px;
    
}
.login_btnINDEX:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_containerINDEX {
    padding: 0 2rem;
}
.input-group-textINDEX {
    background: #2CD7D1 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_userINDEX,
.input_passINDEX:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.bg-imgINDEX {
    background-image: url("../Imagens/bg.png"); /* The image used */
    background-color: #037e8e; /* Used if the image is unavailable */
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}




/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                                ESQUECI
---------------------------------------------------------------------------------------------------------------------------------------------*/

.form_containerESQUECI {
    margin-top: 380px;
}
.login_btnESQUECI {
    width: 100%;
    background: #2CD7D1 !important;
    color: white !important;
    margin-top: -50px;
    
}
.login_btnESQUECI:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_containerESQUECI {
    padding: 0 2rem;
}
.input-group-textESQUECI {
    background: #2CD7D1 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_userESQUECI,
.input_passESQUECI:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.bg-imgESQUECI {
    background-image: url("../Imagens/bg.png"); /* The image used */
    background-color: #037e8e; /* Used if the image is unavailable */
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}




/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                                MENU
---------------------------------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');


.background-imageMENU {
    background-image: url("../Imagens/fundoMenu.png");
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.icon-MENU{
    color: #0A98AB;
 }

.bg-nav-colorMENU{
    background-color: #0A98AB;
    color:white;
}

.txt-colorMENU{
    color: white;
   
}

.link-colorMENU{
    color: #74F1F4;
   
}

.nav-bar-colorMENU
{
    background-color: #0A98AB;
}

.topoMENU{
    width: 43%;
    padding-left: 92%;
    padding-top: 6%;
    
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
 }

/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                                NOTIFICÃO
---------------------------------------------------------------------------------------------------------------------------------------------*/



.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color:  #0AB6DB;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 0;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}

.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #0AB6DB 0%, #0A98AB 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: #87DFEB;
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.icon-padding-1{
    padding-right: 10px;
    
  }

.icon-padding-2{
  padding-right: 10px;
  padding-left: 20px;
}

.icon-color{
    color:rgb(216, 214, 214);
}

.icon-padding-left{
    padding-left: 10px;
  }

.btn-position{
    margin-top: 90px;
    
    
}
.btn-style{
    background: #48D1CC;
    border: #48D1CC;
    height:45px;
   
}
.btn-style:hover{
    background-color:rgb(14, 161, 156);    
}

.btn-txt-padding{
    padding-left: 100px;
  }




.card-content {
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 2rem;
}

.card-desc h3 {
	color: black;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-nao-validar{
	background-color: rgb(204, 2, 2);
    color: #fff;
    margin: 0 auto;
    font-size: .81rem;
    
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    
    text-transform: uppercase;
 
    color: #fff;
}
.btn-card-red:hover {
    background: rgb(160, 39, 39);
    color:white;
}
a.btn-card {
    text-decoration: none;
    padding-right: 70px;
    color: #fff;
}

.btn-validar{
	background-color: #48D1CC;
    color: #fff;
    font-size: .81rem;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    text-transform: uppercase;
    white-space: normal;    
    color: #fff;
}
.btn-card-green:hover {
    background: rgb(14, 161, 156);
    color:white;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}



.modal-styel{
    border-radius: .125rem;
}


.sidepanel {
  height: 2000px;
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color:black; 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: white;
}

.botao{

    background-color: #48D1CC;
    color: white;
}

h3{
    color: rgb(216, 214, 214);
}