@import url("https://fonts.googleapis.com/css?family=Varela+Round");

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  font-family: 'Varela Round', 'sans-serif';
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../img/loginfundo.jpeg");
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: white;
  color:lightgray;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 15px;
  outline: none;
}
.a:link, a:visited{
  text-decoration: none;
  color: white;
}
.a:hover{
  text-decoration : underline;
  color: 
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  padding-top: 52vh;
  margin: auto;
}

.esqueci{
  position: relative;
  padding-top: 30px ;
  display: block;
  color:white;
}

.btn ,.btn-lg ,.btn-primary ,.btn-block{
    background-color: #48D1CC;
}
