.form_containerESQUECI {
    margin-top: 380px;
}
.login_btnESQUECI {
    width: 100%;
    background: #2CD7D1 !important;
    color: white !important;
    margin-top: -50px;
    
}
.login_btnESQUECI:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_containerESQUECI {
    padding: 0 2rem;
}
.input-group-textESQUECI {
    background: #2CD7D1 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_userESQUECI,
.input_passESQUECI:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.bg-imgESQUECI {
    background-image: url("../Imagens/bg.png"); /* The image used */
    background-color: #037e8e; /* Used if the image is unavailable */
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}