/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                    JÁ VEIO COM ARQUIVO SINGLEPAGE

Sumario:
* Menu
* 
---------------------------------------------------------------------------------------------------------------------------------------------*/
header{
    width:20%;
    background:#fff;
    position: absolute;
    left:0;
    top:5%;
    z-index: 5;
}
header h1{
    text-align: center;
}
nav ul{
    list-style:none;
    margin:5px 0;
    padding:0;
}
nav a{
    display:block;
    border:1px solid #e5e5e5;
    border-left:0;
    border-right:0;
    margin:3px 0;
    color:#333;
    padding:5px 0;
    text-decoration: none;
} 
.box{
    position:absolute;
    top:5%;
    right:10px;
    width:100%;
    height:100%;
    background:#fff;
}
.box h2{
    font-size:20px;
    padding:10px;
}
.box p{
    font-size:12px;
    padding:10px;
}
.content{
    min-width: 100%;
    height: 98%;
    position: absolute;
    margin-left:-101%;
    -webkit-transition: margin-left .8s ease-in-out;
    -moz-transition: margin-left .8s ease-in-out;
    -o-transition: margin-left .8s ease-in-out;
    transition: margin-left .8s ease-in-out;
}
.content:target{
    margin-left:0;
}
#home{
    margin-left:0;
}
#home:target ~ header #link-home a,
#company:target ~ header #link-company a,
#service:target ~ header #link-service a,
#contact:target ~ header #link-contact a{
    background: #333;
    color: #fff;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                                MENU
---------------------------------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
.form-signin .form-control:focus
{
    z-index: 2;
}


.account-wall
{
    margin-top: 230px;
}
.login-title
{
    color: white;
    font-size: 25px;
    font-weight: 400;
    display: block;
}


.hero-image {
    background-image: url("../Imagens/fundoMenu.png");
    
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.icon-stuff{
   color: #74F1F4;
}

.icon-menu{
    color: #0A98AB;
 }
 .bg-nav-color{
    background-color: #0A98AB;
    color:white;
 }

.txt-color{
    color: white;
   
}

.txt-menu-color{
    color: #74F1F4;
   
}

.nav-bar-color
{
    background-color: #0A98AB;
}

.menu-topo{
    width: 43%;
    padding-left: 92%;
    padding-top: 6%;
    
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
 }